# Assignment 10: Join and Merge in SQL

## Introduction

For this assignment, you will continue working with SQL databases. This time, you should use Python to write the SQL questies. If possible, please submit your answers in HTML format. The data and questions are listed below.

In [ ]:
DROP TABLE IF EXISTS directors CASCADE;
DROP TABLE IF EXISTS movies CASCADE;
CREATE TABLE directors (
    director_id SERIAL PRIMARY KEY,
    director_name VARCHAR(100),
    country VARCHAR(50),
    birth_year INT,
    awards INT
);

CREATE TABLE movies (
    movie_id SERIAL PRIMARY KEY,
    title VARCHAR(100),
    director_id INT,
    release_year INT,
    box_office DECIMAL(12,2),
    rating DECIMAL(3,1),
    FOREIGN KEY (director_id) REFERENCES directors(director_id)
);

INSERT INTO directors (director_name, country, birth_year, awards) VALUES
('Christopher Nolan', 'UK', 1970, 5),
('Greta Gerwig', 'USA', 1983, 3),
('Bong Joon-ho', 'South Korea', 1969, 4),
('Sofia Coppola', 'USA', 1971, 2),
('Pedro AlmodÃ³var', 'Spain', 1949, 6),
('AgnÃ¨s Varda', 'France', 1928, 4);

INSERT INTO movies (title, director_id, release_year, box_office, rating) VALUES
('Oppenheimer', 1, 2023, 950000000.00, 8.5),
('Barbie', 2, 2023, 1440000000.00, 7.0),
('Parasite', 3, 2019, 258773645.00, 8.9),
('Lost in Translation', 4, 2003, 119723856.00, 7.7),
('Pain and Glory', 5, 2019, 38219573.00, 7.5),
('Faces Places', 6, 2017, 903996.00, 7.9),
('Inception', 1, 2010, 836836967.00, 8.8),
('Lady Bird', 2, 2017, 78965367.00, 7.4);

In [ ]:
# Please import the necessary packages and establish the connection to the database

1. Write a query using `INNER JOIN` to display the movie title, director name, and box office earnings for all movies, ordered by box office earnings in descending order

In [ ]:
# Your code goes here

2. Using a `LEFT JOIN`, find all directors and count the number of movies they have directed.

In [ ]:
# Your code goes here

3. Write a `SELF JOIN` query to compare the ratings of movies by the same director. Show only pairs where the second movie has a higher rating than the first.

In [ ]:
# Your code goes here

4. Using appropriate joins, find directors who have made movies with above-average box office earnings (compared to all movies in the database).

In [ ]:
# Your code goes here

5. Create a query using `CROSS JOIN` to show all possible combinations of directors and movies, even if they did not direct them. Limit the output to 10 rows.

In [ ]:
# Your code goes here

6. Write a query that uses `UNION` to create a list of all director names and movie titles in a single column. Label the column `name` and include a column (called `type`) indicating if it is a director or movie. Order the results by type and name.

Hint: Use `'Director'` and `'Movie'` as the labels for the second column. Please also use `as type` to rename the column (example `director_name as name, 'Director' as type`).

In [ ]:
# Your code goes here

7. Using appropriate joins, find the director with the highest average movie rating. Show only the row with the director's name, average rating, and number of movies.

In [ ]:
# Your code goes here

8. Create a query using `LEFT JOIN` and `IS NULL` to find whether there are directors who have not directed any movies.

In [ ]:
# Your code goes here

9. Using appropriate joins, find pairs of movies released in the same year, along with their directors' names. Please do not match a movie with itself.

In [ ]:
# Your code goes here

10. Show the age of each director when they released their movies. Create a column entitled `age_at_release` in your output. Order the results by the director's name and the movie's release year.

In [ ]:
# Your code goes here

Good luck! ðŸ˜ƒ